

<!-- This example requires Tailwind CSS v3.0+ -->
<div class="isolate bg-[#0F006D]">
  <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
    <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
      <defs>
        <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D88EA"></stop>
          <stop offset="1" stop-color="#73CAF1"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="px-6 pt-6 lg:px-8">
    <div>
      <nav class="flex h-9 items-center justify-between" aria-label="Global">
        <div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
          <a href="#" class="-m-1.5 p-1.5 mt-3">
            <span class="sr-only">R.V. Consilium</span>
            <img class="h-20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1674570701/2_boh8il.png" alt="">
          </a>
        </div>
        <div class="flex lg:hidden ">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
          <a href="#" class="font-semibold text-white hover:text-yellow-500">Home</a>

          <a href="#overons" class="font-semibold text-white hover:text-yellow-500">Over ons</a>

          <a href="#diensten" class="font-semibold text-white hover:text-yellow-500">Diensten</a>

          <a href="/nl/contact" class="font-semibold text-white hover:text-yellow-500">Contacteer ons</a>
        </div>
        <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-end">
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state.
      <div role="dialog" aria-modal="true">
        <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-blue-900 px-6 py-6 lg:hidden" >
          <div class="flex h-9 items-center justify-between">
            <div class="flex">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">MLC - Logistics</span>
                <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
            </div>
            <div class="flex">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Sluit menu</span>
                <!-- Heroicon name: outline/x-mark
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a href="/nl/home" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Home</a>

                <a href="/nl/overons" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Over ons</a>

                <a href="/nl/diensten" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Diensten</a>

                <a href="/nl/contact" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Contacteer ons</a>
              </div>
              <div class="py-6">
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
        <div>
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          </div>
          <div>
            <h1 class="text-5xl text-white font-bold tracking-tight sm:text-center sm:text-6xl">Deskundig belastingadvies van een gecertificeerd belastingconsulent.</h1>
            <p class="mt-6 text-lg leading-8 text-white sm:text-center">Maximaliseer uw inkomsten en optimaliseer uw uitgaven.</p>
            <div class="mt-8 flex gap-x-4 sm:justify-center">
              <a href="/nl/contact" class="inline-block rounded-lg bg-yellow-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 hover:bg-blue-900 hover:ring-bg-[#3D88EA]">
                Contact
                <span class="text-white" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
          <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
              <defs>
                <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#73CAF1"></stop>
                  <stop offset="1" stop-color="#73CAF1"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>



<div class="bg-white">
  <!-- Header -->
  <div class="relative bg-gray-800 pb-32">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1674572487/2_uszxte.png" alt="">
      <div class="absolute inset-0" aria-hidden="true"></div>
    </div>
    <div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-6xl"></h1>
      <p class="mt-6 max-w-3xl text-xl text-gray-300"></p>
    </div>
  </div>

  <!-- Overlapping cards -->
  <section class="relative z-10 mx-auto -mt-32 max-w-7xl px-4 pb-32 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-xl font-medium text-gray-900">Vertrouw op een gecertificeerde belastingadviseur</h3>
          <p class="mt-4 text-base text-gray-500">Met jarenlange ervaring en een grondige kennis van belastingwetgeving kunnen onze gecertificeerde belastingadviseurs u helpen het meeste uit uw belastingen te halen, of u nu een particulier of een bedrijf bent.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-[#3D88EA] p-6 md:px-8">
          <a href="#" class="text-base font-medium text-white hover:text-gray-900">Contact<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-xl font-medium text-gray-900">Compliance en planning: gecertificeerde belastingadviseurs voor uw bedrijf</h3>
          <p class="mt-4 text-base text-gray-500">Blijf compliant en plan voor de toekomst. Een aanbod aan uitgebreide belastingdiensten voor bedrijven van elke omvang, van kleine startups tot grote bedrijven.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-[#3D88EA] p-6 md:px-8">
          <a href="#" class="text-base font-medium text-white hover:text-gray-900">Contact<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-xl font-medium text-gray-900">Deskundigheid en professionaliteit</h3>
          <p class="mt-4 text-base text-gray-500">Krijg de expertise en professionaliteit die u nodig hebt in belastingsadvies. R.V. Consilium biedt persoonlijke service, afgestemd op uw specifieke behoeften, om ervoor te zorgen dat u altijd aan de regels voldoet en het meeste uit uw belastingen haalt.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-[#3D88EA] p-6 md:px-8">
          <a href="#" class="text-base font-medium text-white hover:text-gray-900">Offerte aanvragen<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>
    </div>
  </section>
</div>





<div class="bg-[#0F006D]">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
      <span class="block">Wilt u weten welke dienst het beste bij u past?</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-indigo-200">Stuur uw wensen en ontvang een vrijblijvende offerte aan. Tijdens openingstijden ontvangt u binnen 1 uur een reactie.</p>
    <a href="/nl/contact" class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-[#3D88EA] px-5 py-3 text-base font-medium text-white hover:bg-[#3D88EA] sm:w-auto">Contacteer ons</a>
  </div>
</div>



<div class="relative bg-white" id="overons">
  <div class="h-56 bg-white sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="h-full w-full object-cover" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1674572492/1_e8e5d9.png" alt="">
  </div>
  <div class="relative mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <h2 class="text-lg font-semibold text-dark-900">Top belastingsadvies</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-blue-900 sm:text-4xl">Over R.V. Consilium</p>
      <p class="mt-3 text-lg text-dark-900">Welkom bij een ervaren gecertificeerd belastingadviseur. R.V. Consilium is een toegewijde belastingprofessional die zich inzet voor deskundig advies en persoonlijke service aan mijn klanten. De diensten zijn gegrond op een grondige kennis en beheersing van belastingwetten en -regelgeving en uitgebreide belastingdiensten. Of u nu uw terugbetalingen wilt maximaliseren, uw aansprakelijkheden wilt minimaliseren of plannen wilt maken voor de toekomst, R.V. Consilium heeft de expertise en professionaliteit om u te helpen uw doelen te bereiken. Bedankt dat u ons heeft gekozen als uw vertrouwde belastingadviseur.</p>
      <div class="mt-8">
        <div class="inline-flex rounded-md shadow">

        </div>
      </div>
    </div>
  </div>
</div>





<div class="bg-[#0F006D]" id="diensten">
  <div class="px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <h2 class="text-xl font-semibold leading-6 text-yellow-500">Diensten</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl lg:text-5xl">De juiste oplossing voor u, wie u ook bent.</p>
      <p class="mx-auto mt-3 max-w-4xl text-xl text-gray-300 sm:mt-5 sm:text-2xl">R.V. Consilium biedt een uitgebreide belastingoplossing die bedrijven helpt hun winst te optimaliseren en hun belastingverplichtingen te minimaliseren. De innovatieve benadering van belastingplanning en compliance zorgt ervoor dat u elke gelegenheid aangrijpt om uw rendement te maximaliseren en uw risico's te minimaliseren.</p>
    </div>
  </div>

  <div class="mt-16 bg-white pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 h-5/6 bg-[#0F006D] lg:h-2/3"></div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="mx-auto max-w-md lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none">
            <div class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
              <div class="flex flex-1 flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    
                    <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-hobby">Privaat</h3>
                    <div class="mt-4 flex items-center justify-center">
<img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1674572486/4_jxcm1b.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 p-6 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Gepersonaliseerde belastingplanning en compliancediensten voor gezinnen. Van vermogens- en trustplanning tot investeringsstrategieën, wij helpen u weloverwogen beslissingen te nemen om de financiële toekomst van uw gezin veilig te stellen. Bel ons vandaag nog om een consult in te plannen.</p>
                    </li>

                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#" class="block w-full rounded-lg border border-transparent bg-white px-6 py-3 text-center text-base font-medium text-blue-900 hover:bg-gray-50" aria-describedby="tier-hobby">Consult</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mx-auto mt-10 max-w-lg lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4 lg:mx-0 lg:mt-0 lg:max-w-none">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-yellow-500" aria-hidden="true"></div>
              <div class="absolute inset-x-0 top-0 translate-y-px transform">
                <div class="flex -translate-y-1/2 transform justify-center">
                  <span class="inline-flex rounded-full bg-yellow-500 px-4 py-1 text-base font-semibold text-white">Onze sterkte</span>
                </div>
              </div>
              <div class="rounded-t-lg bg-white px-6 pt-12 pb-10">
                <div>
                  <h3 class="text-center text-3xl font-semibold tracking-tight text-gray-900 sm:-mx-6" id="tier-growth">KMO's</h3>
                  <div class="mt-4 flex items-center justify-center">
<img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1674572489/3_ib7usq.png" alt="">
                  </div>
                </div>
              </div>
              <div class="rounded-b-lg border-t-2 border-gray-100 bg-gray-50 px-6 pt-10 pb-8 sm:px-10 sm:py-10">
                <ul role="list" class="space-y-4">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">Als eigenaar van een klein bedrijf heeft u al genoeg aan uw hoofd zonder dat u door de complexe wereld van belastingen hoeft te navigeren. Ons team van gecertificeerde belastingadviseurs biedt een scala aan diensten, van belastingnaleving tot financiële planning, om u te helpen uw bedrijf te stroomlijnen en uw winst te maximaliseren. Bel ons vandaag nog om een consult in te plannen.</p>
                  </li>

                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href="#" class="block w-full rounded-lg border border-transparent bg-blue-900 px-6 py-4 text-center text-xl font-medium leading-6 text-white hover:bg-[#3D88EA]" aria-describedby="tier-growth">Consult</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mx-auto mt-10 max-w-md lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none">
            <div class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
              <div class="flex flex-1 flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-scale">Grote ondernemingen</h3>
                    <div class="mt-4 flex items-center justify-center">
<img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1674572485/5_hbxphh.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 p-6 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Een uitgebreid scala aan fiscale oplossingen voor grote ondernemingen. Van belastingplanning en compliance tot fusies en overnames, wij helpen u uw bedrijfsstrategie te optimaliseren en uw belastingverplichtingen te minimaliseren. Bel ons vandaag nog om een consult in te plannen en meer te weten te komen over hoe we uw bedrijf kunnen helpen slagen.</p>
                    </li>

                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#" class="block w-full rounded-lg border border-transparent bg-white px-6 py-3 text-center text-base font-medium text-blue-900 hover:bg-gray-50" aria-describedby="tier-scale">Consult</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-blue-900">Klanten in staat stellen om financieel succes te behalen</h2>
        <p class="mt-4 text-lg text-gray-500">Deskundig financieel advies en persoonlijke service bieden aan particulieren, KMO's en grote bedrijven. Klanten in staat te stellen weloverwogen beslissingen te nemen en hun financiële doelen te bereiken door middel van uitgebreide belastingplanning, compliance en investeringsstrategieën. R.V. Consilium is toegewijd aan het bieden van het hoogste niveau van professionaliteit en integriteit in alles wat we doen.</p>
      </div>
      <div class="mt-12 lg:col-span-2 lg:mt-0">
        <dl class="space-y-12">
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Deskundigheid en ervaring</dt>
            <dd class="mt-2 text-base text-gray-500">Kennis en expertise om alle aftrekposten en tegoeden waar u recht op heeft te identificeren en te claimen, wat u kan helpen uw belastingaanslag te verlagen en uw teruggave te maximaliseren.</dd>
          </div>
                    <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Optimaliseer uw belastingstructuur</dt>
            <dd class="mt-2 text-base text-gray-500">Uw belastingstructuur optimaliseren om uw totale belastingverplichtingen te minimaliseren door middel van methoden zoals het oogsten van belastingverliezen en fiscaal efficiënt beleggen.</dd>
          </div>
                    <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Blijf compliant en vermijd boetes</dt>
            <dd class="mt-2 text-base text-gray-500">Op de hoogte van de nieuwste belastingwetten en -regelgeving om ervoor te zorgen dat u altijd in overeenstemming bent met de wet, wat u kan helpen om dure boetes en controles te voorkomen.</dd>
          </div>

        </dl>
      </div>
    </div>
  </div>
</div>






<footer class="text-center lg:text-left bg-gray-100 text-gray-600">
  <div class="flex justify-center items-center lg:justify-between p-6 border-b border-gray-300">
    <div class="mr-12 hidden lg:block">
      <span></span>
    </div>

  </div>
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="">
        <h6 class="
            uppercase
            font-semibold
            mb-4
            flex
            items-center
            justify-center
            md:justify-start
          ">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cubes"
            class="w-4 mr-3" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z">
            </path>
          </svg>
          R.V. Consilium
        </h6>
        <p>
          Maximaliseer uw vermogen en minimaliseer uw belastingdruk: de ultieme belastingoplossing voor de elite.
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          Diensten
        </h6>
        <p class="mb-4">
          <a href="#diensten" class="text-gray-600">Privaat</a>
        </p>
        <p class="mb-4">
          <a href="#diensten" class="text-gray-600">KMO's</a>
        </p>
        <p class="mb-4">
          <a href="#diensten" class="text-gray-600">Grote bedrijven</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          Sitemap
        </h6>
        <p class="mb-4">
          <a href="#!" class="text-gray-600">Home</a>
        </p>
        <p class="mb-4">
          <a href="#overons" class="text-gray-600">Over ons</a>
        </p>
        <p class="mb-4">
          <a href="#diensten" class="text-gray-600">Diensten</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          Contact
        </h6>
        <p class="flex items-center justify-center md:justify-start mb-4">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home"
            class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path fill="currentColor"
              d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
            </path>
          </svg>
          Knikkerstraat 7, 3900 Pelt
        </p>
        <p class="flex items-center justify-center md:justify-start mb-4">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope"
            class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
            </path>
          </svg>
          info@rvconsilium.be
        </p>
        <p class="flex items-center justify-center md:justify-start mb-4">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone"
            class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
            </path>
          </svg>
          +32 499 38 10 47
        </p>
      </div>
    </div>
  </div>
</footer>